.layout{
    width: 850px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px auto;


}

.sideBar{
    background-color: thistle;
    padding-top: 30px;
    border-right:2px solid grey;
}

.content{
    background-color: wheat;
}

