.button{
    background-color: #394867;
    width: 60px;
    height: 48px;
    border: 2px solid #E5E5E5;
    box-shadow: 1px 1px 1px grey,2px 2px 2px grey,3px 3px 3px grey;
    color: #E5E5E5;
    line-height: 15px;
    letter-spacing: 2px;
    transition: all 300ms;
}

.button:hover{
    background-color: #2f3c56;
    cursor: pointer;
}

.button:active{
    box-shadow: inset 1px 1px 1px black;
}