.page.page{
    background-color:rgba(1,1,1,.1);
}

.page_content.page_content{
    background-color:#FDFFF7;
}
.clearFix.clearFix{
    float:none;
    clear:both;
}

.titulo.titulo{
    padding-top:20px;
    color:#011936;
    font-size:44px;
    text-align:center;
}
.subtitulo.subtitulo{
    padding:5px;
    color:#26C485;
    font-size:34px;
}


.inmueble.inmueble{
    margin-bottom: 20px;
    width:125px;
    height:25px;
    line-height: 40px;
}

.container.container{
    display:block;
    width: 800px;
}

.datos.datos{
    box-shadow:0px 0px 2px grey;
    padding:10px;
    margin:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;

}


.datos.datos div{
    width:48%;
}

.datos.datos div:first-child{
    float:left;
}


.datos.datos div:nth-child(2){
    float:right;
}
.datos.datos p{
    padding-left: 5px;
    text-align: start;
    font-size:13px;
}

.datos.datos span{
    font-size:13px;
    color:#348AA7;
    font-weight: bold;
}


/*comienza proveedor*/

.proveedor.proveedor{
    box-shadow:0px 0px 2px grey;
    padding:10px;
    margin:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;
}

.proveedor.proveedor input[type='text'] {
    width:380px;
    margin-right: 5px;
    border-right:1px solid #cccccc;
}

.campo_prov_dom.campo_prov_dom input[type='text']{
    transition: width 500ms;

}

.campo_prov_dom.campo_prov_dom input[type='text']:focus{
    width:700px
}

.campo_prov_dom.campo_prov_dom input[type='text']:focus {
    width:700px
}


/*Comienza orden data*/

.orden_data.orden_data{
    display:block;
    box-shadow:0px 0px 2px grey;
    padding:10px;
    padding-top:15px;
    margin:0px auto;
    margin:10px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;
}

.orden_data_izq.orden_data_izq{
    float:left;
    display:block;
    width:49%;
    margin:0px auto;
    margin:2px;
}

.orden_data_izq.orden_data_izq div{
    display:block;
    width:100%;
    margin-top:5px;
}

.uso.uso{
    margin:-25px;
    margin-right: 18px;
    transition: all 500ms;
    word-wrap: break-word !important; 
}

.uso.uso:focus{
    box-shadow: 0px 0px 10px black;
    width:500px;
    height:200px;
    line-height: 20px;
    font-size: 18px;
    position:absolute;

}

.orden_data_izq.orden_data_izq label{
    float:left;
    width: 49%;
}

.orden_data_izq.orden_data_izq textarea{
    float:right;
    width: 49%;
    margin-left:2px;
}

.orden_data_der.orden_data_der{
    float:right;
    display:block;
    width:49%;
    margin:0px auto;
    margin:2px;
}

.orden_data_der.orden_data_der div{
    display:block;
    width:100%;
    margin-top:5px;
}

.orden_data_der.orden_data_der label{
    float:left;
    width: 49%;
}

.orden_data_der.orden_data_der textarea{
    float:right;
    width: 49%;
    margin-left:5px;
}

.orden_data_center.orden_data_center{
    width:100%;
    display:block;

}

.orden_data_center.orden_data_center div{
    
    display:block;
    margin:0px auto;
    margin-top:5px;
    padding-top:10px;
}

.orden_data_center.orden_data_center div label,
.orden_data_center.orden_data_center div input{
    float:left;
    margin-left:2px;

}

.orden_data_center.orden_data_center div p{
    float:left;
    margin-left: 10px;
    margin-top:-2px;
    font-weight: bold;
    
}

.antecedentes.antecedentes{
    transition: all 500ms;
    word-wrap: break-word !important;  
    margin-right: 18px;
    margin-top:-25px;
    margin-bottom: 5px;
}

.antecedentes.antecedentes:focus{
    box-shadow: 0px 0px 10px black;
    width:500px;
    height:200px;
    line-height: 20px;
    font-size: 18px; 
    position:absolute;
    right: 100px;
    bottom:375px;
}


.consideraciones.consideraciones{
    transition: all 500ms;
    word-wrap: break-word !important;
    margin-right: 18px;
    margin-top:-25px;
    margin-bottom: 5px;
}

.consideraciones.consideraciones:focus{
    box-shadow: 0px 0px 10px black;
    width:500px;
    height:200px;
    line-height: 20px;
    font-size: 18px;
    position:absolute;
    right: 100px;
    bottom:335px;
    
}


/*Articulos de la factura*/

.datos_articulos.datos_articulos{
    width:100%;
    box-shadow:0px 0px 2px grey;
    display:block;
    margin:10px;
}

.datos_articulos.datos_articulos div, p{
    width:100%;
    margin-top:10px;
    margin-left:10px;
}

/*tabla de los artculos de la factura*/


.articulos_tabla.articulos_tabla{
    display:block;
    margin:0px auto;
    width:100%;
    margin:10px;
    box-shadow:0px 0px 2px grey;
}

.articulos_tabla.articulos_tabla div:first-child{
    display:block;
    margin:0px auto;
    width:100%;
    margin:10px;
}

.descripcion.descripcion{
    transition: all 500ms, width 500ms;
}

.agregar.agregar{
    margin:10px;
    margin-left: 20px;
}


.descripcion.descripcion:focus{
    box-shadow: 0px 0px 10px black;
    width:500px;
    height:90px;
    line-height: 20px;
    font-size: 18px;
    position:absolute;
}


.art_tabla.art_tabla{
    display:block;
    width:100%;
    margin-left:30px;
}

.art_tabla.art_tabla p:first-child{
    float:left;
    width:15px;
    margin:5px;
}

.art_tabla.art_tabla p:nth-child(2){
    float:left;
    width:350px;
    height:60px;
    padding:10px;
    word-wrap: break-word;
    overflow-y:scroll;
    overflow-x:hidden;
    border:1px solid grey;
    text-align: center;
    line-height: 15px;
}

.art_tabla.art_tabla p:nth-child(3),
.art_tabla.art_tabla p:nth-child(4){
    float:left;
    width:80px;
    border:1px solid grey;
    text-align: center;
}

.art_tabla.art_tabla p:nth-child(5){
    float:left;
    width:80px;
    border:1px solid grey;
    text-align: center;
}

.art_tabla.art_tabla p:nth-child(6){
    float:left;
    width:80px;
    border:1px solid grey;
    text-align: center;
}

.articulos_tabla.articulos_tabla div:first-child p:first-child{
    float:left;
    width:15px;
    
}



.articulos_tabla.articulos_tabla div:first-child p:nth-child(3),
.articulos_tabla.articulos_tabla div:first-child p:nth-child(4){
    float:left;
    width:90px;
    text-align:end;
    padding:10px;
}


.articulos_tabla.articulos_tabla div:first-child p:nth-child(2){
    float:left;
    width:350px;
    text-align:center;

}

.articulos_tabla.articulos_tabla div:first-child p:nth-child(5){
    float:left;
    width:80px;
    text-align: center;
}

.articulos_tabla.articulos_tabla div:first-child p:nth-child(6){
    float:left;
    width:80px;
    text-align: center;
}


.buttons.buttons{
    margin-right: 40px;
    padding: 20px;
}

.crear_button.crear_button{
    box-shadow: 0px 0px 2px black;
    background-color:#348AA7;
    color:#FDFFF7;
}

.crear_button.crear_button:disabled{
    background:ghostwhite;
    color: gray;
}

.crear_button.crear_button:hover{
    box-shadow: 0px 0px 6px black;
}

.cancelar.cancelar{
    box-shadow: 0px 0px 2px black;
    background-color:#c1292E;
    color:white;
}

.cancelar.cancelar:hover{
    box-shadow: 0px 0px 6px black;
}

.cancelar.cancelar:active{
    box-shadow: 0px 0px 0px black;
}