.card.card{
    width: 95%;
    height: 80px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 400ms;
}

.card.card:hover{
    width: 97%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px rgba(133, 133, 133, 0.945), 2px 2px 2px rgba(133, 133, 133, 0.945), 3px 3px 3px rgba(133, 133, 133, 0.945), 4px 4px 4px rgba(133, 133, 133, 0.945), 5px 5px 5px rgba(133, 133, 133, 0.945);
    cursor: pointer;
}

.card.card:active{
    box-shadow: inset 1px 1px 1px rgba(133, 133, 133, 0.945), inset 2px 2px 2px rgba(133, 133, 133, 0.945), inset 3px 3px 3px rgba(133, 133, 133, 0.945)    ;
}


.content.content{
    padding: 5px;
    height: 80px;
}
.layout{
    margin-top: 0px;
    display: grid;
    height: 80px;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
}

.layout>div p{
   margin: 0px;
   margin-left: 10px;
}
.layout>div:first-child{
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    
}
.layout>div:nth-child(2){
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}