.layout{
    /* display: grid;
    grid-template-rows: 1fr 15fr; */
    margin: 0px auto;
}

.appBar{
    height: fit-content;
}
.visor{
    margin-top: 95px;
}

.butto.butto{
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 100%;
    background-color: #00a5e5;
    color: #f1f1e6;
    width: 80px;
    height: 80px;
    font-size: 28px;
    box-shadow: 1px 1px 1px #ccc, 2px 2px 2px #ccc, 3px 3px 3px #ccc, 4px 4px 4px #ccc, 5px 5px 5px #ccc;
}